













































<!-- <h3 style="margin-left: 20px"routerLink="/project">
 back
</h3>
<div class="card">

 <mat-card class="project-card" *ngFor="let data of sprint;let i=index;">
    <div class="format">
      <div class="actions">
        <mat-icon class="icon" (click)="store.deleteSprint(data.pid,data.Id)">delete</mat-icon>
        <div class="thumb">
          <span>{{data.Sname |uppercase|slice :0:2}}</span>
        </div>
        <mat-icon class="icon" (click)="edit(data)">edit</mat-icon>
      </div>
      <div class="thumb-divider">
        <mat-divider></mat-divider>
      </div>
      <div class="align">
        <mat-card-title style="margin-top:23px">
          <h3>{{data.Sname | uppercase}}</h3>
        </mat-card-title>
        <mat-card-subtitle>{{data.Desc | slice:0:125}}
          <span ng-if="data.Desc.length > 125">&hellip;</span>
        </mat-card-subtitle>
        <div class="thumb-divider">
        </div>

      </div>
    </div>

  </mat-card>
  <mat-card style="margin-left: 10px;width: 350px;padding: 0px;height: 208px;">
      <button mat-raised-button style="padding: 0px;width: 350px;height:208px" routerLink="/addsprint"><h3>Add(+)</h3></button>
    </mat-card>
    </div> -->