<div class="align">
 
    <mat-card class="card"> 
      <mat-expansion-panel class="expan">
        <mat-expansion-panel-header style="padding: 0px">
          <mat-panel-title >
            <h4>{{task.Name}}</h4>
          </mat-panel-title>
  
        </mat-expansion-panel-header>
        <p class="para">
          Description:{{task.Desc}}
        </p>
      </mat-expansion-panel>
      <div>
        <mat-card-content>
          <div class="header">
            <div class="estimate">
              Total Time :8
            </div>
            
          </div>
        </mat-card-content>
      </div>
    </mat-card>

</div>