.header{
    display: flex;
    justify-content: space-between;
}


.expan{
    display:contents;
    margin: 10px;
}
.align{
    position: relative;
    bottom: 20px;
    width: 269px;
    padding-bottom: 1px;
    /* height: 143px; */
    /* box-shadow: 2px 2px 2px; */
 
}
.para{
    position: relative;
    right: 22px;
}
.estimated{
    margin-left:26px;
    margin-left: 0px;
    position: relative;
    top: 5px;
}
.card{
    padding-bottom: 10px;
}
.btm{
    display: flex;
    justify-content: space-between;
}